Flujos_Cryoinfra_06_09_2024.json
[{"id":"8b2bed0e483ef1d3","type":"tab","label":"Lectura de PLC - Productivo","disabled":false,"info":""},{"id":"dea7c801ee7cece7","type":"tab","label":"Envio a la nube - Productivo","disabled":false,"info":""},{"id":"b7edbe0d7a0784fa","type":"s7 endpoint","transport":"iso-on-tcp","address":"192.168.0.11","port":"102","rack":"0","slot":"2","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"1000","timeout":"2000","name":"Prueba.0.11","vartable":[{"addr":"DB1209,X394.0","name":"K111Feedback"},{"addr":"DB474,REAL392","name":"TI1103"},{"addr":"DB1511,REAL434","name":"TSHH1106"},{"addr":"DB639,REAL392","name":"II1250"},{"addr":"DB1254,X394.0","name":"K131Feedback"},{"addr":"DB507,REAL392","name":"TI1303"},{"addr":"DB510,REAL392","name":"TI1306"},{"addr":"DB513,REAL392","name":"TI1309"},{"addr":"DB516,REAL392","name":"TI1320"},{"addr":"DB492,REAL392","name":"II1450"},{"addr":"DB552,REAL392","name":"TI3001"},{"addr":"DB555,REAL392","name":"TI3004"},{"addr":"DB561,REAL392","name":"TI3020"},{"addr":"DB2455,REAL0","name":"FI9000"},{"addr":"DB477,REAL392","name":"TI1111"},{"addr":"DB696,REAL0","name":"T621_TONS"},{"addr":"DB588,REAL0","name":"T721_TONS"},{"addr":"DB594,REAL0","name":"T742_TONS"},{"addr":"DB603,REAL0","name":"FI3427_TPD"},{"addr":"DB372,REAL0","name":"FI2206_TPD"},{"addr":"DB2124,REAL0","name":"FI4008_TPD"},{"addr":"DB891,REAL696","name":"LIC2116_2"},{"addr":"DB1113,REAL696","name":"LIC3420_2"},{"addr":"DB614,REAL696","name":"LIC4630_2"},{"addr":"DB369,REAL0","name":"FI2100_TDP"},{"addr":"DB849,REAL696","name":"FIC2100"},{"addr":"DB178,REAL310","name":"ZV7284_1"},{"addr":"DB247,REAL0","name":"FI3213_1"},{"addr":"DB1059,REAL696","name":"PIC3213_1"},{"addr":"DB1269,X394.0","name":"HS3345"},{"addr":"DB564,REAL392","name":"TI3201"},{"addr":"DB567,REAL392","name":"TI3204"},{"addr":"DB570,REAL392","name":"TI3207"},{"addr":"DB576,REAL392","name":"TI3220"},{"addr":"DB531,REAL392","name":"II3350"},{"addr":"DB819,REAL696","name":"FIC2003_1"},{"addr":"DB819,REAL696","name":"FIC2003_1"},{"addr":"DB2432,REAL0","name":"FI2003TONSSE202DIAANT"},{"addr":"DB1641,REAL434","name":"TSHH3510"},{"addr":"DB660,REAL392","name":"TI3542"}]},{"id":"4e77b8fe0e317a0a","type":"s7 endpoint","transport":"iso-on-tcp","address":"192.168.0.21","port":"102","rack":"0","slot":"2","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"1000","timeout":"2000","name":"Prueba.0.21","vartable":[{"addr":"DB361,REAL0","name":"FI6421"},{"addr":"DB348,REAL0","name":"TONSCO2DIAANT"}]},{"id":"e6072936d71c5396","type":"websocket-listener","path":"accionaws","wholemsg":"false"},{"id":"490ba4eacc2a7a69","type":"tls-config","name":"TSL PRODUCTIVO ACCIONA","cert":"","key":"","ca":"","certname":"cert (1).pem","keyname":"ca_private (23).pem","caname":"","servername":"","verifyservercert":false},{"id":"cdd7d9244402c850","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"77b78fb7.5b195","type":"ui_group","name":"Status Bar","tab":"8bb1da0a.dbe138","order":1,"disp":false,"width":"6","collapse":false},{"id":"aed5cd88.33655","type":"ui_group","name":"System Control","tab":"8bb1da0a.dbe138","order":6,"disp":true,"width":"4","collapse":true},{"id":"d578c818.605498","type":"ui_group","name":"CPU Temp","tab":"8bb1da0a.dbe138","order":5,"disp":true,"width":"4","collapse":false},{"id":"ae1a5b19.f24ae8","type":"ui_group","name":"Network","tab":"8bb1da0a.dbe138","order":4,"disp":true,"width":"3","collapse":false},{"id":"95fb592d.aab088","type":"ui_group","name":"Mem & Disk","tab":"8bb1da0a.dbe138","order":3,"disp":true,"width":"3","collapse":false},{"id":"89ae1195.63aa4","type":"ui_group","name":"Dual Core","tab":"8bb1da0a.dbe138","order":2,"disp":true,"width":"3","collapse":false},{"id":"8bb1da0a.dbe138","type":"ui_tab","name":"Siemens IOT2050","icon":"dashboard","disabled":false,"hidden":false},{"id":"c0ae960f.587268","type":"whin_config","name":"","apikey":""},{"id":"ba5fd232.81a73","type":"whin_config","name":"","apikey":""},{"id":"7eaf1830.bacab8","type":"s7 endpoint","transport":"iso-on-tcp","address":"192.168.0.1","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"1000","timeout":"2000","name":"Nuevo","vartable":[{"addr":"DB4,REAL0","name":"Prueba"}]},{"id":"f1af7d21b62828b9","type":"s7 in","z":"8b2bed0e483ef1d3","endpoint":"b7edbe0d7a0784fa","mode":"all","variable":"prueba","diff":false,"name":"","x":250,"y":140,"wires":[["acd3dbe.6711128"]]},{"id":"855df8cda53b5ca7","type":"debug","z":"8b2bed0e483ef1d3","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":140,"wires":[]},{"id":"7c681829efdf9a45","type":"s7 in","z":"8b2bed0e483ef1d3","endpoint":"4e77b8fe0e317a0a","mode":"all","variable":"","diff":false,"name":"","x":270,"y":180,"wires":[["f83e01e8.dc677"]]},{"id":"46ea8f4146244c31","type":"debug","z":"8b2bed0e483ef1d3","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":180,"wires":[]},{"id":"3d4436c5d25e4d40","type":"change","z":"dea7c801ee7cece7","name":"Setup","rules":[{"t":"set","p":"_includeMindSphereToken","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"_ignorePayload","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":100,"wires":[["87fefb73.4132a8"]]},{"id":"de2b0633e28b2e3f","type":"inject","z":"dea7c801ee7cece7","name":"","props":[],"repeat":"1200","crontab":"","once":true,"onceDelay":"","topic":"","x":90,"y":100,"wires":[["3d4436c5d25e4d40"]]},{"id":"683fa6b4b0908d8f","type":"function","z":"dea7c801ee7cece7","name":"Save Token","func":"if ('headers' in msg) {\n    if ('Authorization' in msg.headers) {\n        flow.set(\"access_token\", msg.headers[\"Authorization\"]);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":60,"wires":[[]]},{"id":"cd45a7e92eb489cc","type":"comment","z":"dea7c801ee7cece7","name":"Token Management","info":"","x":110,"y":40,"wires":[]},{"id":"fe0f716bb5bd50ed","type":"comment","z":"dea7c801ee7cece7","name":"MonitorCompresor - BOOSTER","info":"","x":710,"y":240,"wires":[]},{"id":"06a08d21cdcb7784","type":"http request","z":"dea7c801ee7cece7","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"https://gateway.eu1.mindsphere.io/api/iottimeseries/v3/timeseries/{{{asset_id}}}/{{{aspect}}}","tls":"","persist":false,"proxy":"","authType":"","x":1170,"y":280,"wires":[["8cfd042ecf2e7e7f"]]},{"id":"5e9f1843692e927a","type":"function","z":"dea7c801ee7cece7","name":"MonitorCompresor - BOOSTER","func":"msg.access_token = flow.get(\"access_token\");\n\nlet HrsL;\nlet HrsLAyuda=1;\n\nif (msg.payload && msg.payload.K131Feedback !== null ) {\n    HrsL = msg.payload.K131Feedback ? 1 : 0;    \n} else {\n    HrsLAyuda = -234;\n}\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": msg.access_token\n}\n\nmsg.payload = [];\n\nif (HrsLAyuda !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"HrsL\": `${HrsL}`,\n        \"HrsL_qc\": 0,\n    });\n}\n\nreturn msg;\n\n/*msg.access_token = flow.get(\"access_token\");\n\nlet HrsL;\n\nif (global.get(\"DataPLC011\") && global.get(\"DataPLC011\").K131Feedback !== null && global.get(\"DataPLC011\").K131Feedback !== undefined) {\n    if (global.get(\"DataPLC011\").K131Feedback)    {\n        HrsL = 1\n    }else\n    {\n        HrsL = 0\n    }\n    \n} else {\n    HrsL = 0;\n}\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": msg.access_token\n}\n\nmsg.payload = \n[\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"HrsL\": `${HrsL}`,\n        \"HrsL_qc\":0,\n        \n    }\n];\n\nreturn msg;*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":280,"wires":[["06a08d21cdcb7784","ac075aa139bec9a8"]]},{"id":"e55203c486832059","type":"change","z":"dea7c801ee7cece7","name":"Asset","rules":[{"t":"set","p":"asset_id","pt":"msg","to":"75f6cb5965ed4419bac61e101b3f6732","tot":"str"},{"t":"set","p":"aspect","pt":"msg","to":"MonitorCompresor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":280,"wires":[["5e9f1843692e927a"]]},{"id":"ac075aa139bec9a8","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":240,"wires":[]},{"id":"8cfd042ecf2e7e7f","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1350,"y":280,"wires":[]},{"id":"fcfc406f219e9049","type":"debug","z":"dea7c801ee7cece7","name":"debugg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":700,"y":140,"wires":[]},{"id":"c6a4b3b96cfa8b9d","type":"function","z":"dea7c801ee7cece7","name":"Send TDCON Cloud","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":100,"wires":[[]]},{"id":"4b8369233892fe0e","type":"http request","z":"dea7c801ee7cece7","d":true,"name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"https://gateway.eu1.mindsphere.io/api/iottimeseries/v3/timeseries/{{{asset_id}}}/{{{aspect}}}","tls":"","persist":false,"proxy":"","authType":"","x":1170,"y":2080,"wires":[["2a294ac8a354a802"]]},{"id":"99a8eccf268a62c6","type":"function","z":"dea7c801ee7cece7","d":true,"name":"MonitorTanque - CSC","func":"msg.access_token = flow.get(\"access_token\");\n\n\nlet gasificacion;\nlet nivelDia;\nlet trasvase;\n\ngasificacion = (msg.payload && msg.payload.T721_TONS != null) ? msg.payload.T721_TONS : 0;\nnivelDia = (msg.payload && msg.payload.T721_TONS != null) ? msg.payload.T721_TONS : 0;\ntrasvase = (msg.payload && msg.payload.T721_TONS != null) ? msg.payload.T721_TONS : 0;\n\n\nif (global.get(\"DataPLC011\") && global.get(\"DataPLC011\").VenteoLOX !== null && global.get(\"DataPLC011\").VenteoLOX !== undefined) {\n    Venteo = global.get(\"DataPLC011\").VenteoLOX;\n} else {\n    Venteo = 0;\n}\n\nif (global.get(\"DataPLC011\") && global.get(\"DataPLC011\").HrsVenteoLOX !== null && global.get(\"DataPLC011\").HrsVenteoLOX !== undefined) {\n    HrsVenteo = global.get(\"DataPLC011\").HrsVenteoLOX;\n} else {\n    HrsVenteo = 0;\n}\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": msg.access_token\n}\n\nmsg.payload = \n[\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"Gasificacion\": `${Math.random()*100}`,\n        \"Gasificacion_qc\":0,\n        \n    },\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"NivelDia\": `${Math.random()*100}`,\n        \"NivelDia_qc\":0,\n        \n    },\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"Trasvase\": `${Math.random()*100}`,\n        \"Trasvase_qc\":0,\n    },\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"DesTQ\": `${Math.random()*100}`,\n        \"DesTQ_qc\":0,\n    }\n];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":2080,"wires":[["4b8369233892fe0e","77299d3c2484ba64"]]},{"id":"1bcd0735e22b02b8","type":"change","z":"dea7c801ee7cece7","d":true,"name":"Asset","rules":[{"t":"set","p":"asset_id","pt":"msg","to":"70b91d386b8747c3b75df246a78f6253","tot":"str"},{"t":"set","p":"aspect","pt":"msg","to":"MonitorTanque","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":2080,"wires":[["99a8eccf268a62c6"]]},{"id":"6755c6c3d6f84531","type":"comment","z":"dea7c801ee7cece7","name":"MonitorTanque - CSC","info":"","x":680,"y":2040,"wires":[]},{"id":"77299d3c2484ba64","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":2040,"wires":[]},{"id":"2a294ac8a354a802","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1350,"y":2080,"wires":[]},{"id":"d45e88580d9c2ac1","type":"status","z":"dea7c801ee7cece7","name":"si","scope":null,"x":850,"y":2040,"wires":[[]]},{"id":"87fefb73.4132a8","type":"mindconnect","z":"dea7c801ee7cece7","name":"MinConnectProductivo","configtype":"SHARED_SECRET","agentconfig":"{\n  \"content\": {\n    \"baseUrl\": \"https://southgate.eu1.mindsphere.io\",\n    \"iat\": \"eyJraWQiOiJrZXktaWQtMSIsInR5cCI6IkpXVCIsImFsZyI6IlJTMjU2In0.eyJpc3MiOiJTQ0kiLCJzdWIiOiJlMTAyMDBjODk5Nzc0NTYxODAzMjgzY2E2Zjc3ZDQ2NiIsImF1ZCI6IkFJQU0iLCJpYXQiOjE3MjIzNTkwMzYsIm5iZiI6MTcyMjM1OTAzNiwiZXhwIjoxNzIyOTYzODM2LCJqdGkiOiIzNmRmY2M1Zi01MGNmLTQ0ODktOTI1OC1mY2M4OTIyZGU0Y2IiLCJzY29wZSI6IklBVCIsInRlbiI6ImNyeW9odWIiLCJ0ZW5fY3R4IjoibWFpbi10ZW5hbnQiLCJjbGllbnRfY3JlZGVudGlhbHNfcHJvZmlsZSI6WyJTSEFSRURfU0VDUkVUIl0sInNjaGVtYXMiOlsidXJuOnNpZW1lbnM6bWluZHNwaGVyZTp2MSJdfQ.fbcoxY80BpoQ6M4J5eyLHuPYtCdno7hATV8k6X8X61YgvtFsP8MxTiz4x4bv-cYRH4Z85olG4zCYsdy4l_RGPbi2RBCzrYPW6k7XWimCPLStmSfVMY8jmP-C6cd_NpsMTa0RNAsa55vvzAm3G-nLR4u3b-DB2n4u6HGsxWqDj9-qzCzx-j_KKf1VMpFnSu9H5YEfmuln2UrlDZnUPxDcdQEhNc4eEJAXSuxqNFDq_PzrE19tIyUYOwomw4eznQLQ9oz7wczyxIkPeuV_EUS52maq4n6mYVxH3BGfsYB00MTpbxp8atXxpCvm3ybEKVRP8EBoNtsHDQmXjV_62fg2iA\",\n    \"clientCredentialProfile\": [\n      \"SHARED_SECRET\"\n    ],\n    \"clientId\": \"e10200c899774561803283ca6f77d466\",\n    \"tenant\": \"cryohub\"\n  },\n  \"expiration\": \"2024-08-06T17:03:56.000Z\"\n}","privatekey":"","model":"","validate":true,"validateevent":true,"chunk":false,"disablekeepalive":false,"retry":3,"parallel":1,"asyncduration":10,"x":420,"y":100,"wires":[["fcfc406f219e9049","683fa6b4b0908d8f","c6a4b3b96cfa8b9d"]]},{"id":"acd3dbe.6711128","type":"function","z":"8b2bed0e483ef1d3","name":"DataPLC011Function","func":"global.set('DataPLC011', msg.payload)\nmsg.payload = global.get('DataPLC011')\n//console.log(global.get(\"DataPLC011\").HrsLMac);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":140,"wires":[["855df8cda53b5ca7"]]},{"id":"f83e01e8.dc677","type":"function","z":"8b2bed0e483ef1d3","name":"DataPLC021Function","func":"global.set('DataPLC021', msg.payload)\nmsg.payload = global.get('DataPLC021').FI6421\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":180,"wires":[["46ea8f4146244c31"]]},{"id":"e33bdbd7.70e558","type":"http request","z":"dea7c801ee7cece7","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"https://gateway.eu1.mindsphere.io/api/iottimeseries/v3/timeseries/{{{asset_id}}}/{{{aspect}}}","tls":"","persist":false,"proxy":"","authType":"","x":1170,"y":400,"wires":[["32b7b32e.080bec"]]},{"id":"77e47dac.d80b24","type":"function","z":"dea7c801ee7cece7","name":"MonitorTemperaturas - BOOSTER","func":"msg.access_token = flow.get(\"access_token\");\n\nlet TempSalida1aEtapa;\nlet TempSalida2aEtapa;\nlet TempSalida3aEtapa;\nlet TempSalidaAfterCooler;\nlet ConsumoCorriente;\n\nTempSalida1aEtapa = (msg.payload && msg.payload.TI1303 != null) ? msg.payload.TI1303 : -234;\nTempSalida2aEtapa = (msg.payload && msg.payload.TI1309 != null) ? msg.payload.TI1309 : -234;\nTempSalida3aEtapa = (msg.payload && msg.payload.TI1306 != null) ? msg.payload.TI1306 : -234;\nTempSalidaAfterCooler = (msg.payload && msg.payload.TI1320 != null) ? msg.payload.TI1320 : -234;\nConsumoCorriente = (msg.payload && msg.payload.II1450 != null) ? msg.payload.II1450 : -234;\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": msg.access_token\n}\n\nmsg.payload = [];\n\nif (TempSalida1aEtapa !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"TempSalida1aEtapa\": `${TempSalida1aEtapa}`,\n        \"TempSalida1aEtapa_qc\": 0,\n    });\n}\n\nif (TempSalida2aEtapa !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"TempSalida2aEtapa\": `${TempSalida2aEtapa}`,\n        \"TempSalida2aEtapa_qc\": 0,\n    });\n}\n\nif (TempSalida3aEtapa !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"TempSalida3aEtapa\": `${TempSalida3aEtapa}`,\n        \"TempSalida3aEtapa_qc\": 0,\n    });\n}\n\nif (TempSalidaAfterCooler !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"TempSalidaAfterCooler\": `${TempSalidaAfterCooler}`,\n        \"TempSalidaAfterCooler_qc\": 0,\n    });\n}\n\nif (ConsumoCorriente !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"ConsumoCorriente\": `${ConsumoCorriente}`,\n        \"ConsumoCorriente_qc\": 0,\n    });\n}\n    \nreturn msg;\n\n/*msg.access_token = flow.get(\"access_token\");\n\nlet TempSalida1aEtapa = global.get(\"DataPLC011\").TI1303;\nlet TempSalida2aEtapa = global.get(\"DataPLC011\").TI1309;\nlet TempSalida3aEtapa = global.get(\"DataPLC011\").TI1306;\nlet TempSalidaAfterCooler = global.get(\"DataPLC011\").TI1320;\nlet ConsumoCorriente = global.get(\"DataPLC011\").II1450;\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": msg.access_token\n}\n\nmsg.payload = \n[\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"TempSalida1aEtapa\": `${TempSalida1aEtapa}`,\n        \"TempSalida1aEtapa_qc\":0,\n    },\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"TempSalida2aEtapa\": `${TempSalida2aEtapa}`,\n        \"TempSalida2aEtapa_qc\":0,\n    },\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"TempSalida3aEtapa\": `${TempSalida3aEtapa}`,\n        \"TempSalida3aEtapa_qc\":0,\n    },\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"TempSalidaAfterCooler\": `${TempSalidaAfterCooler}`,\n        \"TempSalidaAfterCooler_qc\":0,\n    },\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"ConsumoCorriente\": `${ConsumoCorriente}`,\n        \"ConsumoCorriente_qc\":0,\n    }\n];\n    \nreturn msg;*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":400,"wires":[["e33bdbd7.70e558","84a66c3.b24f69"]]},{"id":"cd2386b4.2bb1e8","type":"change","z":"dea7c801ee7cece7","name":"Asset","rules":[{"t":"set","p":"asset_id","pt":"msg","to":"75f6cb5965ed4419bac61e101b3f6732","tot":"str"},{"t":"set","p":"aspect","pt":"msg","to":"MonitorTemperaturas","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":400,"wires":[["77e47dac.d80b24"]]},{"id":"a434983e.424848","type":"comment","z":"dea7c801ee7cece7","name":"MonitorTemperaturas - BOOSTER","info":"","x":720,"y":360,"wires":[]},{"id":"84a66c3.b24f69","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":360,"wires":[]},{"id":"32b7b32e.080bec","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1350,"y":400,"wires":[]},{"id":"443091b6.8ae76","type":"status","z":"dea7c801ee7cece7","name":"si","scope":null,"x":930,"y":360,"wires":[[]]},{"id":"8a07ad.9163485","type":"http request","z":"dea7c801ee7cece7","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"https://gateway.eu1.mindsphere.io/api/iottimeseries/v3/timeseries/{{{asset_id}}}/{{{aspect}}}","tls":"","persist":false,"proxy":"","authType":"","x":1170,"y":520,"wires":[["95d4d65c.2cc588"]]},{"id":"7f10999b.6315a8","type":"function","z":"dea7c801ee7cece7","name":"MonitorVenteo - Caja fria","func":"msg.access_token = flow.get(\"access_token\");\n\nlet Venteo;\nlet HrsVenteo;\nlet FI2100_TDP;\nlet FIC2100;\n\nVenteo = (msg.payload && msg.payload.FI2206_TPD != null) ? msg.payload.FI2206_TPD : -234;\nHrsVenteo = (msg.payload && msg.payload.LIC2116_2 != null) ? msg.payload.LIC2116_2 : -234;\nFI2100_TDP = (msg.payload && msg.payload.FI2100_TDP != null) ? msg.payload.FI2100_TDP : -234;\nFIC2100 = (msg.payload && msg.payload.FIC2100 != null) ? msg.payload.FIC2100 : -234;\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": msg.access_token\n}\n\nmsg.payload = [];\n\nif (Venteo !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"Venteo\": `${Venteo}`,\n        \"Venteo_qc\": 0,\n    });\n}\n\nif (HrsVenteo !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"HrsVenteo\": `${HrsVenteo}`,\n        \"HrsVenteo_qc\": 0,\n    });\n}\n\nif (Venteo !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"FI2100_TDP\": `${Math.random()*100}`,\n        \"FI2100_TDP_qc\": 0,\n    });\n}\n\nif (HrsVenteo !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"FIC2100\": `${Math.random()*100}`,\n        \"FIC2100_qc\": 0,\n    });\n}\n    \nreturn msg;\n/*\nmsg.access_token = flow.get(\"access_token\");\n\nlet Venteo;\nlet HrsVenteo;\n\nif (global.get(\"DataPLC011\") && global.get(\"DataPLC011\").FI2206_TPD !== null && global.get(\"DataPLC011\").FI2206_TPD !== undefined) {\n    Venteo = global.get(\"DataPLC011\").FI2206_TPD;\n} else {\n    Venteo = 0;\n}\n\nif (global.get(\"DataPLC011\") && global.get(\"DataPLC011\").LIC2116_2 !== null && global.get(\"DataPLC011\").LIC2116_2 !== undefined) {\n    HrsVenteo = global.get(\"DataPLC011\").LIC2116_2;\n} else {\n    HrsVenteo = 0;\n}\n\nmsg.payload = \n[\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"Venteo\": `${Venteo}`,\n        \"Venteo_qc\":0,\n    },\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"HrsVenteo\": `${HrsVenteo}`,\n        \"HrsVenteo_qc\":0,\n    }\n];\n    \nreturn msg;*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":520,"wires":[["8a07ad.9163485","65e556b0.050b78"]]},{"id":"4d40ae66.66de5","type":"change","z":"dea7c801ee7cece7","name":"Asset","rules":[{"t":"set","p":"asset_id","pt":"msg","to":"167f99fdd0db4b69907a580f31967e2d","tot":"str"},{"t":"set","p":"aspect","pt":"msg","to":"MonitorVenteo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":520,"wires":[["7f10999b.6315a8"]]},{"id":"65e556b0.050b78","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":480,"wires":[]},{"id":"95d4d65c.2cc588","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1350,"y":520,"wires":[]},{"id":"73dec9f.6be0238","type":"status","z":"dea7c801ee7cece7","name":"si","scope":null,"x":870,"y":480,"wires":[[]]},{"id":"867b6029.9dabd","type":"comment","z":"dea7c801ee7cece7","name":"MonitorVenteo - Caja fria","info":"","x":690,"y":480,"wires":[]},{"id":"2d552faf.61697","type":"http request","z":"dea7c801ee7cece7","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"https://gateway.eu1.mindsphere.io/api/iottimeseries/v3/timeseries/{{{asset_id}}}/{{{aspect}}}","tls":"","persist":false,"proxy":"","authType":"","x":1170,"y":760,"wires":[["7ff4c030.c8a7f"]]},{"id":"a906d012.d5d63","type":"function","z":"dea7c801ee7cece7","name":"MonitorVenteo - Columna Argon","func":"msg.access_token = flow.get(\"access_token\");\n\nlet Venteo;\nlet HrsVenteo;\n\n\nVenteo = (msg.payload && msg.payload.FI4008_TPD != null) ? msg.payload.FI4008_TPD : -234;\nHrsVenteo = (msg.payload && msg.payload.LIC4630_2 != null) ? msg.payload.LIC4630_2 : -234;\nmsg.payload = [];\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": msg.access_token\n}\n\nif (Venteo !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"Venteo\": `${Venteo}`,\n        \"Venteo_qc\": 0,\n    });\n}\n\nif (HrsVenteo !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"HrsVenteo\": `${HrsVenteo}`,\n        \"HrsVenteo_qc\": 0,\n    });\n}\n    \nreturn msg;\n\n/*msg.access_token = flow.get(\"access_token\");\n\nlet Venteo;\nlet HrsVenteo;\n\nif (global.get(\"DataPLC011\") && global.get(\"DataPLC011\").FI4008_TPD !== null && global.get(\"DataPLC011\").FI4008_TPD !== undefined) {\n    Venteo = global.get(\"DataPLC011\").FI4008_TPD;\n} else {\n    Venteo = 0;\n}\n\nif (global.get(\"DataPLC011\") && global.get(\"DataPLC011\").LIC4630_2 !== null && global.get(\"DataPLC011\").LIC4630_2 !== undefined) {\n    HrsVenteo = global.get(\"DataPLC011\").LIC4630_2;\n} else {\n    HrsVenteo = 0;\n}\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": msg.access_token\n}\n\nmsg.payload = \n[\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"Venteo\": `${Venteo}`,\n        \"Venteo_qc\":0,\n    },\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"HrsVenteo\": `${HrsVenteo}`,\n        \"HrsVenteo_qc\":0,\n    }\n];\n    \nreturn msg;*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":760,"wires":[["2d552faf.61697","ea9c5600.e2d868"]]},{"id":"5e9c39b6.406bd8","type":"change","z":"dea7c801ee7cece7","name":"Asset","rules":[{"t":"set","p":"asset_id","pt":"msg","to":"4132d4b7c4fe4e279b54b83d20f46a7e","tot":"str"},{"t":"set","p":"aspect","pt":"msg","to":"MonitorVenteo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":760,"wires":[["a906d012.d5d63"]]},{"id":"b466a088.43ff5","type":"comment","z":"dea7c801ee7cece7","name":"MonitorVenteo - Columna Argon","info":"","x":710,"y":720,"wires":[]},{"id":"ea9c5600.e2d868","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":720,"wires":[]},{"id":"7ff4c030.c8a7f","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1350,"y":760,"wires":[]},{"id":"186743d6.a5babc","type":"status","z":"dea7c801ee7cece7","name":"si","scope":null,"x":910,"y":720,"wires":[[]]},{"id":"330ed02d.79b25","type":"http request","z":"dea7c801ee7cece7","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"https://gateway.eu1.mindsphere.io/api/iottimeseries/v3/timeseries/{{{asset_id}}}/{{{aspect}}}","tls":"","persist":false,"proxy":"","authType":"","x":1170,"y":880,"wires":[["eaa7d80a.bdda78"]]},{"id":"35366289.b2ae4e","type":"function","z":"dea7c801ee7cece7","name":"MonitorTemperaturas - COMPANDERS","func":"msg.access_token = flow.get(\"access_token\");\n\nlet TempSalidaCooler1;\nlet TempSalidaCooler2;\n\nTempSalidaCooler1 = (msg.payload && msg.payload.TSHH3510 != null) ? msg.payload.TSHH3510 : -234;\nTempSalidaCooler2 = (msg.payload && msg.payload.TI3542 != null) ? msg.payload.TI3542 : -234;\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": msg.access_token\n}\n\nmsg.payload = [];\n\nif (TempSalidaCooler1 !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"TempSalidaCooler1\": `${TempSalidaCooler1}`,\n        \"TempSalidaCooler1_qc\": 0,\n    });\n}\n\nif (TempSalidaCooler2 !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"TempSalidaCooler2\": `${TempSalidaCooler2}`,\n        \"TempSalidaCooler2_qc\": 0,\n    });\n}\n    \nreturn msg;\n\n\n/*msg.access_token = flow.get(\"access_token\");\n\nlet TempSalidaCooler1 = global.get(\"DataPLC011\").TSHH3510;\nlet TempSalidaCooler2 = global.get(\"DataPLC011\").TI3542;\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": msg.access_token\n}\n\nmsg.payload = \n[\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"TempSalidaCooler1\": `${TempSalidaCooler1}`,\n        \"TempSalidaCooler1_qc\":0,\n    },\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"TempSalidaCooler2\": `${TempSalidaCooler2}`,\n        \"TempSalidaCooler2_qc\":0,\n    }\n];\n    \nreturn msg;*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":880,"wires":[["330ed02d.79b25","b241e01e.97d1e"]]},{"id":"3856027d.a5118e","type":"change","z":"dea7c801ee7cece7","name":"Asset","rules":[{"t":"set","p":"asset_id","pt":"msg","to":"2cddef3bd98a4157a481ab5bc3ba04f5","tot":"str"},{"t":"set","p":"aspect","pt":"msg","to":"MonitorTemperaturas","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":880,"wires":[["35366289.b2ae4e"]]},{"id":"8532b511.2073f8","type":"comment","z":"dea7c801ee7cece7","name":"MonitorTemperaturas - COMPANDERS","info":"","x":730,"y":840,"wires":[]},{"id":"b241e01e.97d1e","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":840,"wires":[]},{"id":"eaa7d80a.bdda78","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1350,"y":880,"wires":[]},{"id":"9b4915f2.86c278","type":"status","z":"dea7c801ee7cece7","name":"si","scope":null,"x":950,"y":840,"wires":[[]]},{"id":"8f99e477.9ba538","type":"http request","z":"dea7c801ee7cece7","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"https://gateway.eu1.mindsphere.io/api/iottimeseries/v3/timeseries/{{{asset_id}}}/{{{aspect}}}","tls":"","persist":false,"proxy":"","authType":"","x":1170,"y":1000,"wires":[["7b35b864.1ffaf8"]]},{"id":"f8d06eb0.210cb","type":"function","z":"dea7c801ee7cece7","name":"MonitorVenteo - LICUEFACTOR","func":"msg.access_token = flow.get(\"access_token\");\n\nlet Venteo;\nlet HrsVenteo;\nlet LIC3420_2;\n\nVenteo = (msg.payload && msg.payload.FI3427_TPD != null) ? msg.payload.FI3427_TPD : -234;\nHrsVenteo = (msg.payload && msg.payload.LIC3420_2 != null) ? msg.payload.LIC3420_2 : -234;\nLIC3420_2 = (msg.payload && msg.payload.LIC3420_2 != null) ? msg.payload.LIC3420_2 : -234;\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": msg.access_token\n}\n\nmsg.payload = [];\n\nif (Venteo !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"Venteo\": `${Venteo}`,\n        \"Venteo_qc\": 0,\n    });\n}\n\nif (HrsVenteo !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"HrsVenteo\": `${HrsVenteo}`,\n        \"HrsVenteo_qc\": 0,\n    });\n}\n\nif (LIC3420_2 !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"LIC3420_2\": `${LIC3420_2}`,\n        \"LIC3420_2_qc\": 0,\n    });\n}\n    \nreturn msg;\n\n/*msg.access_token = flow.get(\"access_token\");\n\nlet Venteo;\nlet HrsVenteo;\n\nif (global.get(\"DataPLC011\") && global.get(\"DataPLC011\").FI3427_TPD !== null && global.get(\"DataPLC011\").FI3427_TPD !== undefined) {\n    Venteo = global.get(\"DataPLC011\").FI3427_TPD;\n} else {\n    Venteo = 0;\n}\n\nif (global.get(\"DataPLC011\") && global.get(\"DataPLC011\").LIC3420_2 !== null && global.get(\"DataPLC011\").LIC3420_2 !== undefined) {\n    HrsVenteo = global.get(\"DataPLC011\").LIC3420_2;\n} else {\n    HrsVenteo = 0;\n}\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": msg.access_token\n}\n\nmsg.payload = \n[\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"Venteo\": `${Venteo}`,\n        \"Venteo_qc\":0,\n    },\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"HrsVenteo\": `${HrsVenteo}`,\n        \"HrsVenteo_qc\":0,\n    }\n];\n    \nreturn msg;*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":1000,"wires":[["8f99e477.9ba538","f69a79df.9a0218"]]},{"id":"8555aff.3181e5","type":"change","z":"dea7c801ee7cece7","name":"Asset","rules":[{"t":"set","p":"asset_id","pt":"msg","to":"7c05ea9f6e824012b3ab9d9a0658156e","tot":"str"},{"t":"set","p":"aspect","pt":"msg","to":"MonitorVenteo ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1000,"wires":[["f8d06eb0.210cb"]]},{"id":"110761c3.f3542e","type":"comment","z":"dea7c801ee7cece7","name":"MonitorVenteo - LICUEFACTOR","info":"","x":710,"y":960,"wires":[]},{"id":"f69a79df.9a0218","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":960,"wires":[]},{"id":"7b35b864.1ffaf8","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1350,"y":1000,"wires":[]},{"id":"5ee98734.1d5718","type":"status","z":"dea7c801ee7cece7","name":"si","scope":null,"x":910,"y":960,"wires":[[]]},{"id":"fa7ad375.1f734","type":"comment","z":"dea7c801ee7cece7","name":"MonitorCompresor - MAC","info":"","x":690,"y":1080,"wires":[]},{"id":"c7859967.810838","type":"http request","z":"dea7c801ee7cece7","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"https://gateway.eu1.mindsphere.io/api/iottimeseries/v3/timeseries/{{{asset_id}}}/{{{aspect}}}","tls":"","persist":false,"proxy":"","authType":"","x":1170,"y":1120,"wires":[["4b3b631b.663fdc"]]},{"id":"b736a115.dcb4f","type":"function","z":"dea7c801ee7cece7","name":"MonitorCompresor - MAC","func":"msg.access_token = flow.get(\"access_token\");\n\nlet HrsL;\nlet HrsLAyuda = 1;\n\nif (msg.payload && msg.payload.K111Feedback !== null) {\n    HrsL = msg.payload.K111Feedback ? 1 : 0;\n} else {\n    HrsLAyuda = -234;\n}\n\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": msg.access_token\n}\n\nmsg.payload = [];\n\nif (HrsLAyuda !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"HrsL\": `${HrsL}`,\n        \"HrsL_qc\": 0,\n    });\n}\n\nreturn msg;\n/*\nmsg.access_token = flow.get(\"access_token\");\n\nlet HrsL;\n\nif (global.get(\"DataPLC011\") && global.get(\"DataPLC011\").K111Feedback !== null && global.get(\"DataPLC011\").K111Feedback !== undefined) {\n    if (global.get(\"DataPLC011\").K111Feedback)    {\n        HrsL = 1\n    }else\n    {\n        HrsL = 0\n    }\n} else {\n    HrsL = 0;\n}\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": msg.access_token\n}\n\nmsg.payload = \n[\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"HrsL\": `${HrsL}`,\n        \"HrsL_qc\":0,\n        \n    }\n];\n\nreturn msg;*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":1120,"wires":[["c7859967.810838","b8bee259.58a11"]]},{"id":"2300a6a8.444c9a","type":"change","z":"dea7c801ee7cece7","name":"Asset","rules":[{"t":"set","p":"asset_id","pt":"msg","to":"a805eb6eb59e4bb09f81891113e4603c","tot":"str"},{"t":"set","p":"aspect","pt":"msg","to":"MonitorCompresor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1120,"wires":[["b736a115.dcb4f"]]},{"id":"b8bee259.58a11","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":1080,"wires":[]},{"id":"4b3b631b.663fdc","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1350,"y":1120,"wires":[]},{"id":"98886d5b.440e6","type":"status","z":"dea7c801ee7cece7","name":"si","scope":null,"x":870,"y":1080,"wires":[[]]},{"id":"29f299e3.4c6536","type":"http request","z":"dea7c801ee7cece7","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"https://gateway.eu1.mindsphere.io/api/iottimeseries/v3/timeseries/{{{asset_id}}}/{{{aspect}}}","tls":"","persist":false,"proxy":"","authType":"","x":1170,"y":1240,"wires":[["bd923bc6.bfd888"]]},{"id":"8961f7c2.1c71a8","type":"function","z":"dea7c801ee7cece7","name":"MonitorTemperaturas - MAC","func":"msg.access_token = flow.get(\"access_token\");\n\nlet TempSalida1aEtapa;\nlet TempSalida2aEtapa;\nlet ConsumoCorriente;\n\nTempSalida1aEtapa = (msg.payload && msg.payload.TI1103 != null) ? msg.payload.TI3201 : -234;\nTempSalida2aEtapa = (msg.payload && msg.payload.TSHH1106 != null) ? msg.payload.TI3207 : -234;\nConsumoCorriente = (msg.payload && msg.payload.II1250 != null) ? msg.payload.II3350 : -234;\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": msg.access_token\n}\n\nmsg.payload = [];\n\nif (TempSalida1aEtapa !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"TempSalida1aEtapa\": `${TempSalida1aEtapa}`,\n        \"TempSalida1aEtapa_qc\": 0,\n    });\n}\n\nif (TempSalida2aEtapa !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"TempSalida2aEtapa\": `${TempSalida2aEtapa}`,\n        \"TempSalida2aEtapa_qc\": 0,\n    });\n}\n\nif (ConsumoCorriente !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"ConsumoCorriente\": `${ConsumoCorriente}`,\n        \"ConsumoCorriente_qc\": 0,\n    });\n}\n    \nreturn msg;\n\n/*msg.access_token = flow.get(\"access_token\");\n\nlet TempSalida1aEtapa = global.get(\"DataPLC011\").TI1103;\nlet TempSalida2aEtapa = global.get(\"DataPLC011\").TSHH1106;\nlet ConsumoCorriente = global.get(\"DataPLC011\").II1250;\n\nTempSalida1aEtapa = (msg.payload && msg.payload.TI1103 != null) ? msg.payload.TI3201 : -234;\nTempSalida2aEtapa = (msg.payload && msg.payload.TSHH1106 != null) ? msg.payload.TI3207 : -234;\nConsumoCorriente = (msg.payload && msg.payload.II1250 != null) ? msg.payload.II3350 : -234;\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": msg.access_token\n}\n\nmsg.payload = \n[\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"TempSalida1aEtapa\": `${TempSalida1aEtapa}`,\n        \"TempSalida1aEtapa_qc\":0,\n    },\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"TempSalida2aEtapa\": `${TempSalida2aEtapa}`,\n        \"TempSalida2aEtapa_qc\":0,\n    },\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"ConsumoCorriente\": `${ConsumoCorriente}`,\n        \"ConsumoCorriente_qc\":0,\n    }\n];\n    \nreturn msg;*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":1240,"wires":[["29f299e3.4c6536","41379828.181d58"]]},{"id":"e4395089.70a43","type":"change","z":"dea7c801ee7cece7","name":"Asset","rules":[{"t":"set","p":"asset_id","pt":"msg","to":"a805eb6eb59e4bb09f81891113e4603c","tot":"str"},{"t":"set","p":"aspect","pt":"msg","to":"MonitorTemperaturas","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1240,"wires":[["8961f7c2.1c71a8"]]},{"id":"b6a24bb8.3f1288","type":"comment","z":"dea7c801ee7cece7","name":"MonitorTemperaturas - MAC","info":"","x":700,"y":1200,"wires":[]},{"id":"41379828.181d58","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":1200,"wires":[]},{"id":"bd923bc6.bfd888","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1350,"y":1240,"wires":[]},{"id":"484b7fd5.3c0e5","type":"status","z":"dea7c801ee7cece7","name":"si","scope":null,"x":890,"y":1200,"wires":[[]]},{"id":"d6877949.7e63f8","type":"http request","z":"dea7c801ee7cece7","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"https://gateway.eu1.mindsphere.io/api/iottimeseries/v3/timeseries/{{{asset_id}}}/{{{aspect}}}","tls":"","persist":false,"proxy":"","authType":"","x":1170,"y":1360,"wires":[["df902bdf.16a638"]]},{"id":"9f7d4b2e.004ad8","type":"change","z":"dea7c801ee7cece7","name":"Asset","rules":[{"t":"set","p":"asset_id","pt":"msg","to":"d31f0c39a18e4f9aae54ac32d78fb39a","tot":"str"},{"t":"set","p":"aspect","pt":"msg","to":"MonitorTemperaturas","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1360,"wires":[["df35d29f.1f959"]]},{"id":"e528fd4a.db60f","type":"comment","z":"dea7c801ee7cece7","name":"MonitorTemperaturas - MAKEUP","info":"","x":710,"y":1320,"wires":[]},{"id":"f9cfe907.3af4f8","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":1320,"wires":[]},{"id":"df902bdf.16a638","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1350,"y":1360,"wires":[]},{"id":"748562c4.ee824c","type":"status","z":"dea7c801ee7cece7","name":"si","scope":null,"x":910,"y":1320,"wires":[[]]},{"id":"9bc44dc.a1b1ab","type":"http request","z":"dea7c801ee7cece7","d":true,"name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"https://gateway.eu1.mindsphere.io/api/iottimeseries/v3/timeseries/{{{asset_id}}}/{{{aspect}}}","tls":"","persist":false,"proxy":"","authType":"","x":1170,"y":1480,"wires":[["8f18af8e.9b44d"]]},{"id":"fafc9029.7a179","type":"function","z":"dea7c801ee7cece7","d":true,"name":"MonitorEnergia - MonitorDeEnergia","func":"msg.access_token = flow.get(\"access_token\");\n\nlet DemBase;\nlet DemInter;\nlet DemPunta;\nlet EnergiaCO2;\nlet KwhBase;\nlet KwhInter;\nlet KwhPunta;\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": msg.access_token\n}\n\nmsg.payload = \n[\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"DemBase\": `${Math.random()*100}`,\n        \"DemBase_qc\":0,\n        \n    },\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"DemInter\": `${Math.random()*100}`,\n        \"DemInter_qc\":0,\n    },\n    \n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"DemPunta\": `${Math.random()*100}`,\n        \"DemPunta_qc\":0,\n        \n    },\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"EnergiaCO2\": `${Math.random()*100}`,\n        \"EnergiaCO2_qc\":0,\n    },\n    \n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"KwhBase\": `${Math.random()*100}`,\n        \"KwhBase_qc\":0,\n        \n    },\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"KwhInter\": `${Math.random()*100}`,\n        \"KwhInter_qc\":0,\n    },\n    \n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"KwhPunta\": `${Math.random()*100}`,\n        \"KwhPunta_qc\":0,\n    }\n    \n];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":1480,"wires":[["9bc44dc.a1b1ab","5b6db587.030a0c"]]},{"id":"b467d88e.9a83e8","type":"change","z":"dea7c801ee7cece7","name":"Asset","rules":[{"t":"set","p":"asset_id","pt":"msg","to":"2180f655ede747ff9aac1828996842c4","tot":"str"},{"t":"set","p":"aspect","pt":"msg","to":"MonitorEnergia","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1480,"wires":[["fafc9029.7a179"]]},{"id":"2c251ac6.50c4e6","type":"comment","z":"dea7c801ee7cece7","name":"MonitorEnergia - MonitorDeEnergia","info":"","x":720,"y":1440,"wires":[]},{"id":"5b6db587.030a0c","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":1440,"wires":[]},{"id":"8f18af8e.9b44d","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1350,"y":1480,"wires":[]},{"id":"8d2d5823.1e2598","type":"status","z":"dea7c801ee7cece7","name":"si","scope":null,"x":930,"y":1440,"wires":[[]]},{"id":"3dccc931.790716","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1630,"y":1600,"wires":[]},{"id":"714edd9c.d43804","type":"http request","z":"dea7c801ee7cece7","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"https://gateway.eu1.mindsphere.io/api/iottimeseries/v3/timeseries/{{{asset_id}}}/{{{aspect}}}","tls":"","persist":false,"proxy":"","authType":"","x":1450,"y":1600,"wires":[["3dccc931.790716"]]},{"id":"3f4ecc06.451c24","type":"comment","z":"dea7c801ee7cece7","name":"MonitorRespaldo - NITRODUCTO","info":"","x":1000,"y":1560,"wires":[]},{"id":"eb66645f.7a8be8","type":"status","z":"dea7c801ee7cece7","name":"si preprocesar","scope":null,"x":1230,"y":1560,"wires":[[]]},{"id":"5ca6fdb0.03d574","type":"http request","z":"dea7c801ee7cece7","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"https://gateway.eu1.mindsphere.io/api/iottimeseries/v3/timeseries/{{{asset_id}}}/{{{aspect}}}","tls":"","persist":false,"proxy":"","authType":"","x":1450,"y":1720,"wires":[["13124bd7.5e91c4"]]},{"id":"16a5e476.7912bc","type":"comment","z":"dea7c801ee7cece7","name":"MonitorConductos - OXIDUCTO","info":"","x":990,"y":1680,"wires":[]},{"id":"13124bd7.5e91c4","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1630,"y":1720,"wires":[]},{"id":"28d4686a.8afc58","type":"status","z":"dea7c801ee7cece7","name":"si preprocesar","scope":null,"x":1210,"y":1680,"wires":[[]]},{"id":"1bf74ad.a697cb5","type":"http request","z":"dea7c801ee7cece7","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"https://gateway.eu1.mindsphere.io/api/iottimeseries/v3/timeseries/{{{asset_id}}}/{{{aspect}}}","tls":"","persist":false,"proxy":"","authType":"","x":1170,"y":1840,"wires":[["6418398a.90d6c8"]]},{"id":"99c3a9ce.ee39a8","type":"function","z":"dea7c801ee7cece7","name":"MonitorTemperaturas - RECICLO","func":"msg.access_token = flow.get(\"access_token\");\n\nlet TempSalida1aEtapa;\nlet TempSalida2aEtapa;\nlet TempSalida3aEtapa;\nlet TempSalidaAfterCooler;\nlet ConsumoCorriente;\n\nTempSalida1aEtapa = (msg.payload && msg.payload.TI3201 != null) ? msg.payload.TI3201 : -234;\nTempSalida2aEtapa = (msg.payload && msg.payload.TI3207 != null) ? msg.payload.TI3207 : -234;\nTempSalida3aEtapa = (msg.payload && msg.payload.TI3204 != null) ? msg.payload.TI3204 : -234;\nTempSalidaAfterCooler = (msg.payload && msg.payload.TI3220 != null) ? msg.payload.TI3220 : -234;\nConsumoCorriente = (msg.payload && msg.payload.II3350 != null) ? msg.payload.II3350 : -234;\n\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": msg.access_token\n}\nmsg.payload = [];\n\nif (TempSalida1aEtapa !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"TempSalida1aEtapa\": `${TempSalida1aEtapa}`,\n        \"TempSalida1aEtapa_qc\": 0,\n    });\n}\n\nif (TempSalida2aEtapa !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"TempSalida2aEtapa\": `${TempSalida2aEtapa}`,\n        \"TempSalida2aEtapa_qc\": 0,\n    });\n}\n\nif (TempSalida3aEtapa !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"TempSalida3aEtapa\": `${TempSalida3aEtapa}`,\n        \"TempSalida3aEtapa_qc\": 0,\n    });\n}\n\nif (TempSalidaAfterCooler !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"TempSalidaAfterCooler\": `${TempSalidaAfterCooler}`,\n        \"TempSalidaAfterCooler_qc\": 0,\n    });\n}\n\nif (ConsumoCorriente !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"ConsumoCorriente\": `${ConsumoCorriente}`,\n        \"ConsumoCorriente_qc\": 0,\n    });\n}\n    \nreturn msg;\n\n/*msg.access_token = flow.get(\"access_token\");\n\nlet TempSalida1aEtapa = global.get(\"DataPLC011\").TI3201;\nlet TempSalida2aEtapa = global.get(\"DataPLC011\").TI3207;\nlet TempSalida3aEtapa = global.get(\"DataPLC011\").TI3204;\nlet TempSalidaAfterCooler = global.get(\"DataPLC011\").TI3220;\nlet ConsumoCorriente = global.get(\"DataPLC011\").II3350;\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": msg.access_token\n}\n\nmsg.payload = \n[\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"TempSalida1aEtapa\": `${TempSalida1aEtapa}`,\n        \"TempSalida1aEtapa_qc\":0,\n    },\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"TempSalida2aEtapa\": `${TempSalida2aEtapa}`,\n        \"TempSalida2aEtapa_qc\":0,\n    },\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"TempSalida3aEtapa\": `${TempSalida3aEtapa}`,\n        \"TempSalida3aEtapa_qc\":0,\n    },\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"TempSalidaAfterCooler\": `${TempSalidaAfterCooler}`,\n        \"TempSalidaAfterCooler_qc\":0,\n    },\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"ConsumoCorriente\": `${ConsumoCorriente}`,\n        \"ConsumoCorriente_qc\":0,\n    }\n];\n    \nreturn msg;*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":1840,"wires":[["1bf74ad.a697cb5","e93a0cd6.cb463"]]},{"id":"7de8afcb.aa94b","type":"change","z":"dea7c801ee7cece7","name":"Asset","rules":[{"t":"set","p":"asset_id","pt":"msg","to":"db3089f4f6ed45b797da637c50bd4c8d","tot":"str"},{"t":"set","p":"aspect","pt":"msg","to":"MonitorTemperaturas","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1840,"wires":[["99c3a9ce.ee39a8"]]},{"id":"ff88a237.4823d","type":"comment","z":"dea7c801ee7cece7","name":"MonitorTemperaturas - RECICLO","info":"","x":710,"y":1800,"wires":[]},{"id":"e93a0cd6.cb463","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":1800,"wires":[]},{"id":"6418398a.90d6c8","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1350,"y":1840,"wires":[]},{"id":"a09b0952.4f2698","type":"status","z":"dea7c801ee7cece7","name":"si","scope":null,"x":910,"y":1800,"wires":[[]]},{"id":"6cb52ad3.8d7994","type":"http request","z":"dea7c801ee7cece7","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"https://gateway.eu1.mindsphere.io/api/iottimeseries/v3/timeseries/{{{asset_id}}}/{{{aspect}}}","tls":"","persist":false,"proxy":"","authType":"","x":1170,"y":2200,"wires":[["427030ef.500f1"]]},{"id":"46d25d94.b16c94","type":"function","z":"dea7c801ee7cece7","name":"MonitorTanque - LIN","func":"msg.access_token = flow.get(\"access_token\");\n\nlet p_LP;\nlet nivelDia;\n\np_LP = (msg.payload && msg.payload.T621_TONS != null) ? msg.payload.T621_TONS : -234;\nnivelDia = (msg.payload && msg.payload.T721_TONS != null) ? msg.payload.T721_TONS : -234;\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": msg.access_token\n}\n\nmsg.payload = [];\n\nif (p_LP !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"p_LP\": `${p_LP}`,\n        \"p_LP_qc\": 0,\n    });\n}\n\nif (nivelDia !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"NivelDia\": `${nivelDia}`,\n        \"NivelDia_qc\": 0,\n    });\n}\n    \nreturn msg;\n\n/*msg.access_token = flow.get(\"access_token\");\n\nlet p_LP;\nlet NivelDia;\n\nif (global.get(\"DataPLC011\") && global.get(\"DataPLC011\").T621_TONS !== null && global.get(\"DataPLC011\").T621_TONS !== undefined) {\n    p_LP = global.get(\"DataPLC011\").T621_TONS;\n} else {\n    p_LP = 0;\n}\n\nif (global.get(\"DataPLC011\") && global.get(\"DataPLC011\").T721_TONS !== null && global.get(\"DataPLC011\").T721_TONS !== undefined) {\n    NivelDia = global.get(\"DataPLC011\").T721_TONS;\n} else {\n    NivelDia = 0;\n}\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": msg.access_token\n}\n\nmsg.payload = \n[\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"p_LP\": `${Math.random()*100}`,\n        \"p_LP_qc\":0,\n        \n    },\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"NivelDia\": `${Math.random()*100}`,\n        \"NivelDia_qc\":0,\n        \n    }\n];\n    \nreturn msg;*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":2200,"wires":[["6cb52ad3.8d7994","7809f653.b74d08"]]},{"id":"adccb90f.a9ea18","type":"change","z":"dea7c801ee7cece7","name":"Asset","rules":[{"t":"set","p":"asset_id","pt":"msg","to":"617f0ebe26464e488659a2006ad359f3","tot":"str"},{"t":"set","p":"aspect","pt":"msg","to":"MonitorTanque","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":2200,"wires":[["46d25d94.b16c94"]]},{"id":"fc52cc2e.9c675","type":"comment","z":"dea7c801ee7cece7","name":"MonitorTanque - LIN","info":"","x":670,"y":2160,"wires":[]},{"id":"7809f653.b74d08","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":2160,"wires":[]},{"id":"427030ef.500f1","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1350,"y":2200,"wires":[]},{"id":"cfab8582.06f708","type":"status","z":"dea7c801ee7cece7","name":"si","scope":null,"x":830,"y":2160,"wires":[[]]},{"id":"d84edac7.dda5d8","type":"http request","z":"dea7c801ee7cece7","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"https://gateway.eu1.mindsphere.io/api/iottimeseries/v3/timeseries/{{{asset_id}}}/{{{aspect}}}","tls":"","persist":false,"proxy":"","authType":"","x":1170,"y":2320,"wires":[["16d7c23c.b203be"]]},{"id":"b509f852.d52e08","type":"function","z":"dea7c801ee7cece7","name":"MonitorTanque - LAR","func":"msg.access_token = flow.get(\"access_token\");\n\nlet nivelDia;\n\nnivelDia = (msg.payload && msg.payload.T742_TONS != null) ? msg.payload.T742_TONS : -234;\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": msg.access_token\n}\n\nmsg.payload = [];\n\nif (nivelDia !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"NivelDia\": `${nivelDia}`,\n        \"NivelDia_qc\": 0,\n    });\n}\n    \nreturn msg;\n\n/*msg.access_token = flow.get(\"access_token\");\n\nlet NivelDia;\n\nif (global.get(\"DataPLC011\") && global.get(\"DataPLC011\").T742_TONS !== null && global.get(\"DataPLC011\").T742_TONS !== undefined) {\n    NivelDia = global.get(\"DataPLC011\").T742_TONS;\n} else {\n    NivelDia = 0;\n}\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": msg.access_token\n}\n\nmsg.payload = \n[\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"NivelDia\": `${NivelDia}`,\n        \"NivelDia_qc\":0,\n    }\n];\n    \nreturn msg;*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":2320,"wires":[["d84edac7.dda5d8","9d9eca92.9f6ca8"]]},{"id":"b6284bb7.289708","type":"change","z":"dea7c801ee7cece7","name":"Asset","rules":[{"t":"set","p":"asset_id","pt":"msg","to":"b2d0c2b8b873479887e30843437d5ed1","tot":"str"},{"t":"set","p":"aspect","pt":"msg","to":"MonitorTanque","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":2320,"wires":[["b509f852.d52e08"]]},{"id":"62a86ec3.b110c","type":"comment","z":"dea7c801ee7cece7","name":"MonitorTanque - LAR","info":"","x":680,"y":2280,"wires":[]},{"id":"9d9eca92.9f6ca8","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":2280,"wires":[]},{"id":"16d7c23c.b203be","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1350,"y":2320,"wires":[]},{"id":"b0ebb861.71c9a8","type":"status","z":"dea7c801ee7cece7","name":"si","scope":null,"x":850,"y":2280,"wires":[[]]},{"id":"37197323.139b1c","type":"http request","z":"dea7c801ee7cece7","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"https://gateway.eu1.mindsphere.io/api/iottimeseries/v3/timeseries/{{{asset_id}}}/{{{aspect}}}","tls":"","persist":false,"proxy":"","authType":"","x":1170,"y":2440,"wires":[["3a923f97.a546b"]]},{"id":"6ea84bd3.46de74","type":"function","z":"dea7c801ee7cece7","name":"MonitorTanque - LOX","func":"msg.access_token = flow.get(\"access_token\");\n\nlet nivelDia;\n\nnivelDia = (msg.payload && msg.payload.T621_TONS != null) ? msg.payload.T621_TONS : -234;\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": msg.access_token\n}\n\nmsg.payload = [];\n\nif (nivelDia !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"NivelDia\": `${nivelDia}`,\n        \"NivelDia_qc\": 0,\n    });\n}\n    \nreturn msg;\n\n\n/*msg.access_token = flow.get(\"access_token\");\n\nlet NivelDia;\n\nif (global.get(\"DataPLC011\") && global.get(\"DataPLC011\").T621_TONS !== null && global.get(\"DataPLC011\").T621_TONS !== undefined) {\n    NivelDia = global.get(\"DataPLC011\").T621_TONS;\n} else {\n    NivelDia = 0;\n}\n\n\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": msg.access_token\n}\n\nmsg.payload = \n[\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"NivelDia\": `${NivelDia}`,\n        \"NivelDia_qc\":0,\n    }\n];\n    \nreturn msg;*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":2440,"wires":[["37197323.139b1c","7a9185cc.4ff4bc"]]},{"id":"117a4892.853ef7","type":"change","z":"dea7c801ee7cece7","name":"Asset","rules":[{"t":"set","p":"asset_id","pt":"msg","to":"935a9a14a09a4b9bab0e6fe08e202175","tot":"str"},{"t":"set","p":"aspect","pt":"msg","to":"MonitorTanque","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":2440,"wires":[["6ea84bd3.46de74"]]},{"id":"8e0ec1e4.2bebd","type":"comment","z":"dea7c801ee7cece7","name":"MonitorTanque - LOX","info":"","x":680,"y":2400,"wires":[]},{"id":"7a9185cc.4ff4bc","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":2400,"wires":[]},{"id":"3a923f97.a546b","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1350,"y":2440,"wires":[]},{"id":"efcfd4bc.736a68","type":"status","z":"dea7c801ee7cece7","name":"si","scope":null,"x":850,"y":2400,"wires":[[]]},{"id":"547d3342.b2e69c","type":"http request","z":"dea7c801ee7cece7","d":true,"name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"https://gateway.eu1.mindsphere.io/api/iottimeseries/v3/timeseries/{{{asset_id}}}/{{{aspect}}}","tls":"","persist":false,"proxy":"","authType":"","x":2330,"y":300,"wires":[["a9569094.db0b9"]]},{"id":"b60edb59.923458","type":"function","z":"dea7c801ee7cece7","d":true,"name":"ConsumoCliente - GASODUCTO Gox","func":"msg.access_token = flow.get(\"access_token\");\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": msg.access_token\n}\n\nmsg.payload = \n[\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"Totalizador\": `${Math.random()*100}`,\n        \"Totalizador_qc\":0,\n    },\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"FlujoInstantaneo\": `${Math.random()*100}`,\n        \"FlujoInstantaneo_qc\":0,\n    }\n];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1970,"y":300,"wires":[["547d3342.b2e69c","88f9458a.4dfe18"]]},{"id":"9a911d8.ab689e","type":"change","z":"dea7c801ee7cece7","d":true,"name":"Asset","rules":[{"t":"set","p":"asset_id","pt":"msg","to":"4e3cdd303bf8461a93278fd83c4210d4","tot":"str"},{"t":"set","p":"aspect","pt":"msg","to":"ConsumoCliente","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2110,"y":240,"wires":[["b60edb59.923458"]]},{"id":"45bb09f4.f37e48","type":"comment","z":"dea7c801ee7cece7","name":"ConsumoCliente - GASODUCTO Gox","info":"","x":1950,"y":200,"wires":[]},{"id":"88f9458a.4dfe18","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2330,"y":260,"wires":[]},{"id":"fbd0281a.604458","type":"inject","z":"dea7c801ee7cece7","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1890,"y":240,"wires":[["9a911d8.ab689e"]]},{"id":"a9569094.db0b9","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2510,"y":300,"wires":[]},{"id":"fb578153.a6c9e","type":"status","z":"dea7c801ee7cece7","name":"si","scope":null,"x":2170,"y":200,"wires":[[]]},{"id":"7e3502f9.52b69c","type":"http request","z":"dea7c801ee7cece7","d":true,"name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"https://gateway.eu1.mindsphere.io/api/iottimeseries/v3/timeseries/{{{asset_id}}}/{{{aspect}}}","tls":"","persist":false,"proxy":"","authType":"","x":2330,"y":480,"wires":[["8c4e90d4.754f7"]]},{"id":"1d33cd7c.f0b963","type":"function","z":"dea7c801ee7cece7","d":true,"name":"ConsumoCliente - GASODUCTO GIN","func":"msg.access_token = flow.get(\"access_token\");\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": msg.access_token\n}\n\nmsg.payload = \n[\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"Totalizador\": `${Math.random()*100}`,\n        \"Totalizador_qc\":0,\n    },\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"FlujoInstantaneo\": `${Math.random()*100}`,\n        \"FlujoInstantaneo_qc\":0,\n    }\n];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1970,"y":480,"wires":[["7e3502f9.52b69c","9ec7e38b.a8891"]]},{"id":"d0a04dd.0cebab","type":"change","z":"dea7c801ee7cece7","d":true,"name":"Asset","rules":[{"t":"set","p":"asset_id","pt":"msg","to":"6c0ab5baeadf44faaefa5b363d5467f9","tot":"str"},{"t":"set","p":"aspect","pt":"msg","to":"ConsumoCliente","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2110,"y":420,"wires":[["1d33cd7c.f0b963"]]},{"id":"566e628d.58d7fc","type":"comment","z":"dea7c801ee7cece7","name":"ConsumoCliente - GASODUCTO GIN","info":"","x":1950,"y":380,"wires":[]},{"id":"9ec7e38b.a8891","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2330,"y":440,"wires":[]},{"id":"7889cf60.c7ca5","type":"inject","z":"dea7c801ee7cece7","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1890,"y":420,"wires":[["d0a04dd.0cebab"]]},{"id":"8c4e90d4.754f7","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2510,"y":480,"wires":[]},{"id":"1285efcd.730e8","type":"status","z":"dea7c801ee7cece7","name":"si","scope":null,"x":2170,"y":380,"wires":[[]]},{"id":"f65356d1.3a79f8","type":"http request","z":"dea7c801ee7cece7","d":true,"name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"https://gateway.eu1.mindsphere.io/api/iottimeseries/v3/timeseries/{{{asset_id}}}/{{{aspect}}}","tls":"","persist":false,"proxy":"","authType":"","x":2330,"y":660,"wires":[["22c409f8.7904c6"]]},{"id":"c869fd1.94229","type":"function","z":"dea7c801ee7cece7","d":true,"name":"ConsumoCliente - GASODUCTO Gar","func":"msg.access_token = flow.get(\"access_token\");\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": msg.access_token\n}\n\nmsg.payload = \n[\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"Totalizador\": `${Math.random()*100}`,\n        \"Totalizador_qc\":0,\n    },\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"FlujoInstantaneo\": `${Math.random()*100}`,\n        \"FlujoInstantaneo_qc\":0,\n    }\n];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1970,"y":660,"wires":[["f65356d1.3a79f8","64f1a9af.12ffa8"]]},{"id":"27200fbc.c4579","type":"change","z":"dea7c801ee7cece7","d":true,"name":"Asset","rules":[{"t":"set","p":"asset_id","pt":"msg","to":"2c4c6fa52e4041d49cae18d73e762450","tot":"str"},{"t":"set","p":"aspect","pt":"msg","to":"ConsumoCliente","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2110,"y":600,"wires":[["c869fd1.94229"]]},{"id":"94ea077f.041b88","type":"comment","z":"dea7c801ee7cece7","name":"ConsumoCliente - GASODUCTO Gar","info":"","x":1950,"y":560,"wires":[]},{"id":"64f1a9af.12ffa8","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2330,"y":620,"wires":[]},{"id":"bdf8289c.0a0488","type":"inject","z":"dea7c801ee7cece7","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1890,"y":600,"wires":[["27200fbc.c4579"]]},{"id":"22c409f8.7904c6","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2510,"y":660,"wires":[]},{"id":"3d4f0b45.a97c64","type":"status","z":"dea7c801ee7cece7","name":"si","scope":null,"x":2170,"y":560,"wires":[[]]},{"id":"710c1e89.710a8","type":"s7 in","z":"dea7c801ee7cece7","endpoint":"b7edbe0d7a0784fa","mode":"all","variable":"prueba","diff":false,"name":"","x":330,"y":1400,"wires":[["e55203c486832059","cd2386b4.2bb1e8","4d40ae66.66de5","5e9c39b6.406bd8","3856027d.a5118e","8555aff.3181e5","2300a6a8.444c9a","e4395089.70a43","9f7d4b2e.004ad8","b467d88e.9a83e8","7de8afcb.aa94b","1bcd0735e22b02b8","adccb90f.a9ea18","b6284bb7.289708","117a4892.853ef7","d51d0bf.d8a90f8","b2681ae9.340f08","62984855.775308","dc6f0353.e5058","fcc20bc7.6083d8","1c8d718a.c0326e"]]},{"id":"2a2ec47.c4b323c","type":"http request","z":"dea7c801ee7cece7","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"https://gateway.eu1.mindsphere.io/api/iottimeseries/v3/timeseries/{{{asset_id}}}/{{{aspect}}}","tls":"","persist":false,"proxy":"","authType":"","x":1450,"y":1960,"wires":[["caeaf4b7.606708"]]},{"id":"58e8da99.151ec4","type":"comment","z":"dea7c801ee7cece7","name":"MonitorRespaldo - LOX","info":"","x":960,"y":1920,"wires":[]},{"id":"caeaf4b7.606708","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1630,"y":1960,"wires":[]},{"id":"b7024cde.84253","type":"status","z":"dea7c801ee7cece7","name":"si preprocesar","scope":null,"x":1150,"y":1920,"wires":[[]]},{"id":"305ee022.0013f","type":"comment","z":"dea7c801ee7cece7","name":"MonitorTorreEnfiramiento","info":"","x":690,"y":2520,"wires":[]},{"id":"b8bb1428.05a0b8","type":"http request","z":"dea7c801ee7cece7","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"https://gateway.eu1.mindsphere.io/api/iottimeseries/v3/timeseries/{{{asset_id}}}/{{{aspect}}}","tls":"","persist":false,"proxy":"","authType":"","x":1170,"y":2560,"wires":[["82a2c144.b335e"]]},{"id":"ea9810c5.10a92","type":"function","z":"dea7c801ee7cece7","name":"MonitorTorreEnfiramiento","func":"msg.access_token = flow.get(\"access_token\");\n\nlet TempAguaEnfriamiento;\nlet Agua;\n\nTempAguaEnfriamiento = (msg.payload && msg.payload.TI1111 != null) ? msg.payload.TI1111 : -234;\nAgua = (msg.payload && msg.payload.FI9000 != null) ? msg.payload.FI9000 : -234;\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": msg.access_token\n}\n\nmsg.payload = [];\n\nif (TempAguaEnfriamiento !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"TempAguaEnfriamiento\": `${TempAguaEnfriamiento}`,\n        \"TempAguaEnfriamiento_qc\": 0,\n    });\n}\n\nif (Agua !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"Agua\": `${Agua}`,\n        \"Agua_qc\": 0,\n    });\n}\n    \nreturn msg;\n\n/*msg.access_token = flow.get(\"access_token\");\n\nlet TempAguaEnfriamiento;\nlet Agua;\n\nif (global.get(\"DataPLC011\") && global.get(\"DataPLC011\").TI1111 !== null && global.get(\"DataPLC011\").TI1111 !== undefined) {\n    TempAguaEnfriamiento = global.get(\"DataPLC011\").TI1111;\n} else {\n    TempAguaEnfriamiento = 0;\n}\nif (global.get(\"DataPLC011\") && global.get(\"DataPLC011\").FI9000 !== null && global.get(\"DataPLC011\").FI9000 !== undefined) {\n    Agua = global.get(\"DataPLC011\").FI9000;\n} else {\n    Agua = 0;\n}\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": msg.access_token\n}\n\nmsg.payload = \n[\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"TempAguaEnfriamiento\": `${TempAguaEnfriamiento}`,\n        \"TempAguaEnfriamiento_qc\":0,\n    },\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"Agua\": `${Agua}`,\n        \"Agua_qc\":0,\n    }\n    \n];\n    \nreturn msg;*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":2560,"wires":[["b8bb1428.05a0b8","6487b307.37797c"]]},{"id":"d51d0bf.d8a90f8","type":"change","z":"dea7c801ee7cece7","name":"Asset","rules":[{"t":"set","p":"asset_id","pt":"msg","to":"b0a35db3e9ee49dd916d7fa4c8974f3e","tot":"str"},{"t":"set","p":"aspect","pt":"msg","to":"MonitorTorreEnfriamiento","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":2560,"wires":[["ea9810c5.10a92"]]},{"id":"6487b307.37797c","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":2520,"wires":[]},{"id":"82a2c144.b335e","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1350,"y":2560,"wires":[]},{"id":"73cfdd6b.321254","type":"status","z":"dea7c801ee7cece7","name":"si","scope":null,"x":870,"y":2520,"wires":[[]]},{"id":"f7333e75.88e55","type":"http request","z":"dea7c801ee7cece7","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"https://gateway.eu1.mindsphere.io/api/iottimeseries/v3/timeseries/{{{asset_id}}}/{{{aspect}}}","tls":"","persist":false,"proxy":"","authType":"","x":1310,"y":640,"wires":[["791e8974.7c82e8"]]},{"id":"2f507c34.2cb5b4","type":"function","z":"dea7c801ee7cece7","name":"MonitorCajaFria","func":"// Obtener las variables globales\nlet dataPLC011 = global.get('DataPLC011');\nlet tiempoCerrado = global.get('TiempoCerrado') || { FI2100_TPD: 0 };\nlet inicio = global.get('inicio');\nlet bandera = global.get('bandera') || false;\nlet p_LP = global.get('p_LP') || 0;  // Recuperar el último valor de p_LP\n\n// Verificación de reinicio diario de p_LP\nlet ultimaFecha = global.get('ultimaFecha') || new Date().toISOString().split('T')[0];\nlet fechaActual = new Date().toISOString().split('T')[0];\n\nif (fechaActual !== ultimaFecha) {\n    // Si la fecha ha cambiado, reiniciar p_LP a cero\n    p_LP = 0;\n    global.set('p_LP', p_LP);\n    global.set('ultimaFecha', fechaActual);\n    console.log(\"Reinicio diario de p_LP a las 00:00\");\n}\n\n// Verificación de condiciones\nif (dataPLC011.FIC2100 > 0 && dataPLC011.LIC3420_2 > 0) {\n    console.log(\"Variables FIC2100 y LIC3420_2 son mayores a 0\");\n    console.log(\"FIC2100: \" + dataPLC011.FIC2100);\n    console.log(\"LIC3420_2: \" + dataPLC011.LIC3420_2);\n\n    if (dataPLC011.ZV7284_1 === 0) {\n        console.log(\"Válvula ZV7284_1 es igual a 0\");\n\n        if (!inicio) {\n            inicio = new Date().getTime();\n            global.set('inicio', inicio);\n            console.log(\"Empieza a contar tiempo.\");\n            console.log(\"Inicio: \" + inicio);\n        } else {\n            console.log(\"Ya está contando el tiempo.\");\n        }\n\n        bandera = true;\n        global.set('bandera', true);        \n    } else {\n        console.log(\"Valvula ZV7284_1 es diferente a 0\");\n    }\n\n} else {\n    console.log(\"Una de las variables no es mayor a 0\");\n    console.log(\"Bandera: \" + bandera);\n    if (bandera) {\n        let fin = new Date().getTime();\n        console.log(\"Fin: \" + fin);\n        console.log(\"Inicio: \" + inicio);\n        if (inicio) {\n            let duracion = ((fin - inicio) / 1000)/3600; // Duración en horas\n            console.log(\"Duración: \" + duracion);\n            tiempoCerrado.FI2100_TPD += duracion;\n            global.set('TiempoCerrado', tiempoCerrado);\n            console.log(\"global.get('TiempoCerrado'): \" + global.get('TiempoCerrado').FI2100_TPD);\n            global.set('inicio', null);\n        }\n        bandera = false;\n        global.set('bandera', false);\n\n        // Calcular p_LP\n        console.log(\"FI2100_TPD: \" + global.get(\"DataPLC011\").FI2100_TDP);\n        console.log(\"tiempoCerrado.FI2100_TPD: \" + tiempoCerrado.FI2100_TPD);\n        p_LP = (global.get(\"DataPLC011\").FI2100_TDP / 24) * tiempoCerrado.FI2100_TPD;\n        console.log(\"p_LP proceso actual: \" + p_LP);\n        global.set('p_LP', p_LP+global.get('p_LP'));  // Guardar el nuevo valor de p_LP\n        console.log(\"p_LP Total centralizado: \" + global.get('p_LP'));\n        global.set('TiempoCerrado', { FI2100_TPD: 0 }); // Reiniciar TiempoCerrado\n    }\n}\n\n// Configurar el mensaje de salida\nmsg.access_token = flow.get(\"access_token\");\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": msg.access_token\n};\n\nmsg.payload = [\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"p_LP\": `${p_LP}`,\n        \"p_LP_qc\": 0,\n    }\n];\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":640,"wires":[["f7333e75.88e55","8935e109.6812e"]]},{"id":"1c8d718a.c0326e","type":"change","z":"dea7c801ee7cece7","name":"Asset","rules":[{"t":"set","p":"asset_id","pt":"msg","to":"167f99fdd0db4b69907a580f31967e2d","tot":"str"},{"t":"set","p":"aspect","pt":"msg","to":"MonitorCajaFria","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":640,"wires":[["2f507c34.2cb5b4"]]},{"id":"11c03245.288bee","type":"comment","z":"dea7c801ee7cece7","name":"MonitorCajaFria","info":"","x":880,"y":600,"wires":[]},{"id":"8935e109.6812e","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1310,"y":600,"wires":[]},{"id":"791e8974.7c82e8","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1470,"y":640,"wires":[]},{"id":"e360cacb.554d98","type":"status","z":"dea7c801ee7cece7","name":"Preprocesar","scope":null,"x":1050,"y":600,"wires":[[]]},{"id":"2c44ce18.1fbaf2","type":"function","z":"dea7c801ee7cece7","name":"MonitorRespaldo - LOX 2 Bueno","func":"msg.access_token = flow.get(\"access_token\");\n\nlet RespaldoParoPlanta;\nlet Co2;\nlet FIC2003_1;\nlet FI6421;\n\n\nif (msg.payload && msg.payloadFIC2003_1 !== null ) {\n    if(global.get(\"DataPLC011\").FIC2003_1 <= 0){\n        RespaldoParoPlanta =global.get(\"DataPLC021\").FI6421;\n    } else {\n        RespaldoParoPlanta = 0;\n        console.log(\"FIC2003_1 es menor a cero\");\n    }\n} else {\n    console.log(\"No se leyo el valor de FIC2003_1\");\n    RespaldoParoPlanta = 0;\n}\n\nif (global.get(\"DataPLC021\") && global.get(\"DataPLC021\").TONSCO2DIAANT !== null) {\n        Co2 = global.get(\"DataPLC021\").TONSCO2DIAANT;\n} else {\n        Co2 = 0;\n}\n\n//Co2 = (global.get(\"DataPLC021\") && global.get(\"DataPLC021\").TONSCO2DIAANT != null) ? global.get(\"DataPLC021\").TONSCO2DIAANTD : -234;\nFIC2003_1 = (msg.payload && msg.payload.FI4008_TPD != null) ? msg.payload.FI4008_TPD : -234;\n\nFI6421 = (global.get('DataPLC021') && global.get('DataPLC021').FI6421 != null) ? global.get(\"DataPLC021\").FI6421 : -234;\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": msg.access_token\n}\n\nmsg.payload = \n[\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"RespaldoParoPlanta\": `${RespaldoParoPlanta}`,\n        \"RespaldoParoPlanta_qc\":0,\n        \n    },\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"Co2\": `${Co2}`,\n        \"Co2_qc\":0,\n    }\n];\n\nmsg.payload = [];\n\nif (RespaldoParoPlanta !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"RespaldoParoPlanta\": `${RespaldoParoPlanta}`,\n        \"RespaldoParoPlanta_qc\":0,\n    });\n}\n\nif (Co2 !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"Co2\": `${Co2}`,\n        \"Co2_qc\":0,\n    });\n}\n\nif (FIC2003_1 !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"FIC2003_1\": `${FIC2003_1}`,\n        \"FIC2003_1_qc\": 0,\n    });\n}\n\nif (FI6421 !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"FI6421\": `${FI6421}`,\n        \"FI6421_qc\": 0,\n    });\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1190,"y":1960,"wires":[["556e95c9.c01ffc","2a2ec47.c4b323c"]]},{"id":"dc6f0353.e5058","type":"change","z":"dea7c801ee7cece7","name":"Asset","rules":[{"t":"set","p":"asset_id","pt":"msg","to":"7ca35059f9a240cbaf5becd3b47fc836","tot":"str"},{"t":"set","p":"aspect","pt":"msg","to":"MonitorRespaldo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1960,"wires":[["2c44ce18.1fbaf2"]]},{"id":"556e95c9.c01ffc","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1450,"y":1920,"wires":[]},{"id":"62984855.775308","type":"change","z":"dea7c801ee7cece7","name":"Asset","rules":[{"t":"set","p":"asset_id","pt":"msg","to":"06e7b73406a64619945813592ad85b78","tot":"str"},{"t":"set","p":"aspect","pt":"msg","to":"MonitorConducto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1720,"wires":[["8b9d522e.2c383"]]},{"id":"d305098a.98bc88","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1450,"y":1680,"wires":[]},{"id":"8b9d522e.2c383","type":"function","z":"dea7c801ee7cece7","name":"MonitorConductos - OXIDUCTO 2 ","func":"msg.access_token = flow.get(\"access_token\");\n\nlet E202;\nlet Lectura_Ternium;\n\nif (msg.payload && msg.payload.FI2003TONSSE202DIAANT !== null) {\n    E202 = msg.payload.FI2003TONSSE202DIAANT;\n} else {\n    E202 = 0;\n}\n\nif (msg.payload && msg.payload.FIC2003_1 !== null ) {\n    if(msg.payload.FIC2003_1 >0){\n        Lectura_Ternium=1;\n        //Lectura_Ternium =global.get(\"DataPLC021\").FI6421;\n    } else {\n        Lectura_Ternium = 0;\n    }\n} else {\n    Lectura_Ternium = 0;\n}\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": msg.access_token\n}\n\nmsg.payload = \n[\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"E202\": `${E202}`,\n        \"E202_qc\":0,\n    },\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"Lectura_Ternium\": `${Lectura_Ternium}`,\n        \"Lectura_Ternium_qc\":0,\n    }\n];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":1720,"wires":[["d305098a.98bc88","5ca6fdb0.03d574"]]},{"id":"b2681ae9.340f08","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":1580,"wires":[]},{"id":"4a7b5717.420d08","type":"status","z":"dea7c801ee7cece7","name":"si","scope":null,"x":910,"y":240,"wires":[[]]},{"id":"3cb6c20f.5a27de","type":"function","z":"dea7c801ee7cece7","name":"MonitorRespaldo - NITRODUCTO 2 Bueno","func":"msg.access_token = flow.get(\"access_token\");\n\nlet RespaldoParoPlanta;\nlet FI3213_1;\nlet PIC3213_1;\nlet PIC3213_1Ayuda=1;\n\nif (msg.payload && msg.payload.FI3213_1 !== null) {\n    if(msg.payload.PIC3213_1<=0 && msg.payload.HS3345 ==false){\n        RespaldoParoPlanta = msg.payload.FI3213_1;\n    }else{\n        RespaldoParoPlanta = 0;\n    }\n} else {\n    RespaldoParoPlanta = 0;\n}\n\nFI3213_1 = (msg.payload && msg.payload.PIC3213_1 != null) ? msg.payload.PIC3213_1 : -234;\n\nif (msg.payload && msg.payload.FI3213_1 !== null ) {\n    PIC3213_1 = msg.payload.FI3213_1 ? 1 : 0;    \n} else {\n    PIC3213_1Ayuda = -234;\n}\n\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": msg.access_token\n}\n\nmsg.payload = [];\n\nmsg.payload.push({\n    \"_time\": new Date(Date.now()).toISOString(),\n    \"RespaldoParoPlanta\": `${RespaldoParoPlanta}`,\n    \"RespaldoParoPlanta_qc\":0,\n});\n\nmsg.payload.push({\n    \"_time\": new Date(Date.now()).toISOString(),\n    \"FI3213_1\": `${FI3213_1}`,\n    \"FI3213_1_qc\":0,\n});\n\nmsg.payload.push({\n    \"_time\": new Date(Date.now()).toISOString(),\n    \"PIC3213_1\": `${PIC3213_1}`,\n    \"PIC3213_1_qc\":0,\n});\n\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":1600,"wires":[["f3bb87e9.f95088","714edd9c.d43804"]]},{"id":"fcc20bc7.6083d8","type":"change","z":"dea7c801ee7cece7","name":"Asset","rules":[{"t":"set","p":"asset_id","pt":"msg","to":"fdcf93f879ad46e5aebb13181e0b1a2b","tot":"str"},{"t":"set","p":"aspect","pt":"msg","to":"MonitorRespaldo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1600,"wires":[["3cb6c20f.5a27de"]]},{"id":"f3bb87e9.f95088","type":"debug","z":"dea7c801ee7cece7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1450,"y":1560,"wires":[]},{"id":"df35d29f.1f959","type":"function","z":"dea7c801ee7cece7","name":"MonitorTemperaturas - MAKEUP","func":"msg.access_token = flow.get(\"access_token\");\n\nlet TempSalida1aEtapa;\nlet TempSalida2aEtapa;\nlet TempSalidaAfterCooler;\n\nTempSalida1aEtapa = (msg.payload && msg.payload.TI3001 != null) ? msg.payload.TI3001 : -234;\nTempSalida2aEtapa = (msg.payload && msg.payload.TI3004 != null) ? msg.payload.TI3004 : -234;\nTempSalidaAfterCooler = (msg.payload && msg.payload.TI3020 != null) ? msg.payload.TI3020 : -234;\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": msg.access_token\n}\n\nmsg.payload = [];\n\nif (TempSalida1aEtapa !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"TempSalida1aEtapa\": `${TempSalida1aEtapa}`,\n        \"TempSalida1aEtapa_qc\": 0,\n    });\n}\n\nif (TempSalida2aEtapa !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"TempSalida2aEtapa\": `${TempSalida2aEtapa}`,\n        \"TempSalida2aEtapa_qc\": 0,\n    });\n}\n\nif (TempSalidaAfterCooler !== -234) {\n    msg.payload.push({\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"TempSalidaAfterCooler\": `${TempSalidaAfterCooler}`,\n        \"TempSalidaAfterCooler_qc\":0,\n    });\n}\n\nreturn msg;\n\n/*msg.access_token = flow.get(\"access_token\");\n\nlet TempSalida1aEtapa = global.get(\"DataPLC011\").TI3001;\nlet TempSalida2aEtapa = global.get(\"DataPLC011\").TI3004;\nlet TempSalidaAfterCooler = global.get(\"DataPLC011\").TI3020;\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": msg.access_token\n}\n\nmsg.payload = \n[\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"TempSalida1aEtapa\": `${TempSalida1aEtapa}`,\n        \"TempSalida1aEtapa_qc\":0,\n    },\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"TempSalida2aEtapa\": `${TempSalida2aEtapa}`,\n        \"TempSalida2aEtapa_qc\":0,\n    },\n    {\n        \"_time\": new Date(Date.now()).toISOString(),\n        \"TempSalidaAfterCooler\": `${TempSalidaAfterCooler}`,\n        \"TempSalidaAfterCooler_qc\":0,\n    }\n];\n    \nreturn msg;*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":1360,"wires":[["d6877949.7e63f8","f9cfe907.3af4f8"]]},{"id":"806a9eeb.848bd","type":"s7 in","z":"8b2bed0e483ef1d3","endpoint":"4e77b8fe0e317a0a","mode":"all","variable":"","diff":false,"name":"","x":1290,"y":740,"wires":[["727012e7.abd10c"]]},{"id":"727012e7.abd10c","type":"debug","z":"8b2bed0e483ef1d3","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1470,"y":740,"wires":[]},{"id":"232c501.32d94b","type":"s7 in","z":"8b2bed0e483ef1d3","endpoint":"7eaf1830.bacab8","mode":"all","variable":"","diff":false,"name":"","x":390,"y":240,"wires":[["282186bf.35e3ca"]]},{"id":"282186bf.35e3ca","type":"debug","z":"8b2bed0e483ef1d3","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":240,"wires":[]}]